    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        max-width: 1920px;
        max-height: 1080px;
        background-color: #fff;
        font-family: 'Open sans', sans-serif;
        font-size: 16px;
    }
    /* HEADER */
    
    .contenedor-header {
        display: flex;
        width: 90%;
        max-width: 1920px;
        margin: auto;
        justify-content: space-between;
    }
    
    header {
        width: 100%;
        max-width: 1920px;
        height: 80px;
        background-color: #022561;
    }
    
    header .contenedor-atras {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        width: 1.30208%;
        max-width: 25px;
    }
    
    header .contenedor-atras .atras {
        width: 25px;
        height: 40px;
        text-align: center;
    }
    
    header .contenedor-atras .atras a {
        color: #fff;
        font-size: 40px;
        text-decoration: none;
    }
    
    header .contenedor-texto {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 20px 0;
        width: 100%;
        margin-left: 90px;
    }
    
    header .contenedor-texto .texto {
        width: 358px;
        height: 40px;
        text-align: center;
    }
    
    header .contenedor-texto .texto h2 {
        color: #fff;
        font-weight: 600;
        font-size: 29.4px;
    }
    
    header .menu {
        text-align: center;
        width: 114px;
        justify-content: center;
        align-content: center;
    }
    
    header .menu a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 30px;
        margin-right: 20px;
        padding: 20px 0;
        transition: all 0.3s ease;
    }
    /* MAIN */
    
    .contenedor {
        display: flex;
        width: 90%;
        max-width: 1820px;
        margin: auto;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .main .contenedor-titulo {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 100px;
        width: 100%;
    }
    
    .main .contenedor-titulo h2 {
        color: #022561;
        font-size: 60px;
        font-weight: 600;
    }
    
    .main .contenedor-descripcion {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 100px;
        width: 100%;
    }
    
    .main .contenedor-descripcion .descripcion {
        display: flex;
        width: 840px;
        justify-content: space-between;
    }
    
    .main .contenedor-descripcion p {
        color: #022561;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
    
    .botonListar a {
        padding: 8px 64px;
        background-color: #022561;
        text-decoration: none;
        font-size: 25px;
        font-weight: 400;
        color: #fff;
        border-radius: 15px;
    }
    
    .contenedor-boton {
        display: flex;
        justify-content: right;
        align-items: right;
        padding-top: 50px;
        padding-left: 50px;
        width: 100%;
    }
    
    .contenedor-boton .boton {
        display: flex;
        width: 754px;
    }
    
    .contenedor-boton .boton a {
        padding: 20px 48px;
        background-color: #FF9500;
        text-decoration: none;
        font-size: 25px;
        font-weight: 400;
        color: #fff;
        border-radius: 15px;
    }
    
    .contenedor-boton .boton .posicionado {
        overflow: hidden;
        background: #022561;
        border-radius: 0px;
    }
    
    .main .contenedor-boton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        width: 100%;
    }
    
    .main .contenedor-boton .boton {
        display: flex;
        justify-content: space-between;
        width: 754px;
    }
    
    .main .contenedor-boton .boton a {
        padding: 20px 48px;
        background-color: #FF9500;
        text-decoration: none;
        font-size: 25px;
        font-weight: 400;
        color: #fff;
        border-radius: 15px;
    }
    /* FOOTER */
    
    .contenedor-imagen {
        display: flex;
        padding-top: 80px;
        width: 200px;
    }
    /* TABLAS */
    
    .contenedor-tabla {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    
    table,
    td,
    th {
        border: 1px solid rgba(0, 0, 0, .4);
    }
    
    table {
        border-collapse: collapse;
        width: 1820px;
        height: 626px;
        text-align: center;
    }
    
    th,
    td {
        padding: 10px 20px;
    }
    
    th {
        background-color: #fff;
        color: #022561;
        font-size: 30px;
        font-weight: 400;
    }
    /* Menú desplegable */
    
    .animacion {
        display: flex;
        justify-items: center;
        align-items: center;
        background-color: #000;
        padding: 20px 0;
        width: 20px;
        height: 20px;
        transition: all 0.3s ease;
        /*.3 segundos es la más utilizada*/
        /* transition-delay: 1s; */
    }