.mediaViewInfo {
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920___1;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920___1;
}
* {
    margin: 0;
    padding: 0;
}
.Web_1920___1_Class {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920___1;
    --web-enable-deep-linking: true;
}
.Trazado_1 {
    overflow: visible;
    position: absolute;
    top: -1259.134px;
    left: 80px;
    width: 2905.864px;
    height: 2722.134px;
    transform: rotate(-15deg);
}
.Grupo_237_Class {
    position: absolute;
    width: 500px;
    height: 120px;
    left: 710px;
    top: 480px;
    overflow: visible;
}
.Grupo_235_Class {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rect_ngulo_456 {
    position: absolute;
    overflow: visible;
    width: 500px;
    height: 50px;
    left: 0px;
    top: 0px;
}
.Ingresa_tu_email_Class {
    position: absolute;
    left: 179px;
    top: 12px;
    overflow: visible;
    width: 143px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(142,142,147,1);
}
.Grupo_236_Class {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 0px;
    top: 70px;
    overflow: visible;
}
.Rect_ngulo_456_A0_Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 500px;
    height: 50px;
    left: 0px;
    top: 0px;
}
.Ingresa_tu_contrase_a_Class {
    position: absolute;
    left: 155px;
    top: 12px;
    overflow: visible;
    width: 191px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(142,142,147,1);
}
.UNISABANA_PLANING_BOARD_Class {
    position: absolute;
    left: 704px;
    top: 150px;
    overflow: visible;
    width: 513px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
.Sabana1 {
    position: absolute;
    overflow: visible;
    width: 250px;
    height: 250px;
    left: 0px;
    top: 830px;
}
.Grupo_238_Class {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 710px;
    top: 700px;
    overflow: visible;
}
.Rect_ngulo_456_A0_Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 500px;
    height: 50px;
    left: 0px;
    top: 0px;
}
.Iniciar_sesi_n_Class {
    position: absolute;
    left: 193px;
    top: 12px;
    overflow: visible;
    width: 115px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}