<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Construccion</title>
    <script src="https://kit.fontawesome.com/4e4e7f8918.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
  <header>
    <div class="contenedor-header">
        <div class="contenedor-atras">
            <div class="atras">
                <a class="Btn_atras" href="{{ url_for('home') }}"><i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
      <div class="contenedor-texto">
          <div class="texto">
              <h2 class="planing">Página en construccion</h2>
          </div>
      </div>
    </div>
    <section class="main">
      <div class="contenedor">
          <div class="contenedor-titulo">
              <div class="bienvenido">
                  <h2>Lo lamentamos</h2>
              </div>
          </div>
          <div class="contenedor-descripcion">
              <div class="descripcion">
                  <p>La página que intentó acceder sigue en construccion</p>
              </div>
          </div>
      </div>

  </section>
  <footer>

      <div class="contenedor-imagen">
          <div class="imagen">
              <img src="../static/images/Sabana1.png" alt="Escudo Universidad de La Sabana" class="logo" width="200px">
          </div>
      </div>

  </footer> 
</body>
</html>
