<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/4e4e7f8918.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilos.css">

</head>

<body>
    <header>
        <div class="contenedor-header">

            <div class="contenedor-texto">
                <div class="texto">
                    <h2 class="planing">Unisabana Planing Board</h2>
                </div>
            </div>
            <div class="menu">

                <nav>
                    <a class="perfil" href="{{ url_for('menu') }}"><i class="fas fa-user-circle"></i></a>
                </nav>

            </div>

        </div>

    </header>
    <section class="main">
        <div class="contenedor">
            <div class="contenedor-titulo">
                <div class="bienvenido">
                    <h2> Bienvenido de nuevo, {{ nombre }}</h2>
                </div>
            </div>
            <div class="contenedor-descripcion">
                <div class="descripcion">
                    <p>En el plan estratégico podrás administrar tus imperativos, objetivos y actividades clave</p>
                    <p>En el plan operativo podrás evaluar las diferentes actividades relacionadas con tu cargo</p>
                </div>
            </div>
            <div class="contenedor-boton">
                <div class="boton">
                    <a href="{{ url_for('planEstrategico') }}">Plan estratégico <i class="far fa-calendar-alt"></i></a>
                    <a href="{{ url_for('planOperativo') }}">Plan operativo <i class="fas fa-user-plus"></i></i></a>

                </div>
            </div>
        </div>

    </section>
    <footer>

        <div class="contenedor-imagen">
            <div class="imagen">
                <img src="../static/images/Sabana1.png" alt="Escudo Universidad de La Sabana" class="logo" width="200px">
            </div>
        </div>

    </footer> 
</body>

</html>