<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="contenedor">
        <div class="contenedor-titulo">
            <div class="titulo">
                <h1>Unisabana Planing Board</h1>
            </div>
        </div>
        <form action="/login" method="POST">
            <div class="contenedor-campos">
                <div class="campos">
                    <input type="email" value="{{ request.form.email }}" 
                    name = "email" placeholder="Ingresa tu email" required>
                    <input type="password" value="{{ request.form.contraseña }}" 
                    name = "contraseña" placeholder="Ingresa tu contraseña" required>
                </div>
            </div>
            <div class="contenedor-boton">
                <div class="boton">
                    <input type="submit" value="Iniciar sesión">
                </div>
            </div>
        </form>
    </div>
    <footer>
        <div class="contenedor-imagen">
            <div class="imagen">
                <img src="/static/images/logo.png" alt="Escudo Universidad de La Sabana" class="logo" width="200px">
            </div>
        </div>
    </footer>
</body>

</html>