<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menú</title>
    <script src="https://kit.fontawesome.com/4e4e7f8918.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>

<body>
    <header>
        <div class="contenedor-header">
            <div class="contenedor-atras">
                <div class="atras">
                    <a class="Btn_atras" href="{{ url_for('home') }}"><i class="fas fa-chevron-left"></i></a>
                </div>
            </div>
            <div class="contenedor-texto">
                <div class="texto">
                    <h2 class="planing">Menú</h2>
                </div>
            </div>
            <div class="menu">
                <nav>
                    <a class="perfil" href="{{ url_for('menu') }}"><i class="fas fa-user-circle"></i></a>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor-iconos">
        <div class="caja">
            <a class="icono_perfil" href="{{ url_for('perfil') }}"><i class="fas fa-user"></i></a>
            <p>Mi perfil</p>
        </div>
        <div class="caja">
            <a class="icono_crear" href="{{ url_for('pagCrearUsuario') }}"><i class="fas fa-user-plus"></i></a>
            <p>Crear usuario</p>
        </div>
        <div class="caja">
            <a class="icono_administrar" href="{{ url_for('administrarUsuario') }}"><i class="fas fa-user-edit"></i></a>
            <p>Editar usuarios</p>
        </div>
        <div class="caja">
            <a class="icono_ayuda" href="{{ url_for('ayuda') }}"><i class="fas fa-question"></i></a>
            <p>Ayuda</p>
        </div>
        <div class="caja">
            <a class="icono_salir" href="{{ url_for('loginPage') }}"><i class="fas fa-sign-out-alt"></i></a>
            <p>Salir</p>
        </div>
    </div>

</body>

</html>