<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Objetivos</title>
    <script src="https://kit.fontawesome.com/4e4e7f8918.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilos.css">

</head>

<body>
    <header>
        <div class="contenedor-header">
            <div class="contenedor-atras">
                <div class="atras">
                    <a class="Btn_atras" href="{{ url_for('planEstrategico') }}"><i class="fas fa-chevron-left"></i></a>
                </div>
            </div>
            <div class="contenedor-texto">
                <div class="texto">
                    <h2 class="planing">Objetivos</h2>
                </div>
            </div>
            <div class="menu">
                <nav>
                    <!-- <a class="notificaciones" href="{{ url_for('notificaciones') }}"><i class="fas fa-bell"></i></a> -->
                    <a class="notificaciones" href="{{ url_for('construccion') }}"><i class="fas fa-bell"></i></a>
                    <a class="perfil" href="{{ url_for('menu') }}"><i class="fas fa-user-circle"></i></a>
                </nav>

            </div>

        </div>

    </header>


    <div class="contenedor-boton">

        <div class="boton">
            <a href="#">Imperativo <i class="fas fa-clipboard-check"></i></a>
        </div>
        <div class="botonPeriodo">
            <a href="#">Botón</a>
            <!-- <ul>
                <li><a href="#">2019-2</a></li>
                <li><a href="#">2019-1</a></li>
                <li><a href="#">2018-2</a></li>
                <li><a href="#">2018-1</a></li>

            </ul> -->
        </div>
    </div>
    <section class="main">
        <div class="contenedor-tabla">
            <div class="tabla">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>DESCRIPCIÓN</th>
                        <th>ACTIVIDADES CLAVE</th>
                        <th>VER MÁS</th>
                    </tr>
                    {% for value in data %}
                    <tr>
                        <td>{{ value.id }}</td>
                        <td>{{ value.nombre }}</td>

                        <td>
                            <div class="botonListar">
                                <a href="{{ url_for('actividadesClave')}}">Listar</a>
                            </div>
                        </td>

                        <td>
                            <div class="botonVerMas">
                                <a href="{{ url_for('verMasObjetivos')}}">Ver más</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    
                    <tr>
                        <td>
                            <div class="botonMas">
                                <a href="#"><i class="fas fa-plus-circle"></i></a>
                            </div>
                        </td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>

</html>