<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi perfil</title>
    <script src="https://kit.fontawesome.com/4e4e7f8918.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>

<body>
    <header>
        <div class="contenedor-header">
            <div class="contenedor-atras">
                <div class="atras">
                    <a class="Btn_atras" href="menú.html"><i class="fas fa-chevron-left"></i></a>
                </div>
            </div>
            <div class="contenedor-texto">
                <div class="texto">
                    <h2 class="planing">Mi perfil</h2>
                </div>
            </div>
            <div class="menu">
                <nav>
                    <a class="notificaciones" href="notificaciones.html"><i class="fas fa-bell"></i></a>
                    <a class="perfil" href="menú.html"><i class="fas fa-user-circle"></i></a>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor-perfil">

        <div class="imagen">
            <img src="imagenes/perfil.png" alt="Foto de perfil" width="132px">
            <h2>Camilo Andrés</h2>
            <p>Administrador</p>
        </div>

        <div class="campos">

            <div class="nombre">
                <div class="campo-nombre">
                    <h3>Nombre</h3>
                    <p>Camilo Andrés Vega Agudelo</p>
                </div>
                <div class="editar">
                    <a href="#">Editar</a>
                </div>
            </div>
            <div class="nombre">
                <div class="campo-nombre">
                    <h3>Email</h3>
                    <p>camilovegag@unisabana.edu.co</p>
                </div>
                <div class="editar">
                    <a href="#">Editar</a>
                </div>
            </div>
            <div class="nombre">
                <div class="campo-nombre">
                    <h3>Contraseña</h3>
                    <p>***************</p>
                </div>
                <div class="editar">
                    <a href="#">Editar</a>
                </div>
            </div>
            <div class="nombre">
                <div class="campo-nombre">
                    <h3>Localización</h3>
                    <p>Chía, Colombia</p>
                </div>
                <div class="editar">
                    <a href="#">Editar</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>