<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plan estratégico</title>
    <script src="https://kit.fontawesome.com/4e4e7f8918.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>

<body>

    <header>
        <div class="contenedor-header">
            <div class="contenedor-atras">
                <div class="atras">
                    <a class="Btn_atras" href="{{ url_for('home') }}"></a><i class="fas fa-chevron-left"></i></a>
                </div>
            </div>
            <div class="contenedor-texto">
                <div class="texto">
                    <h2 class="planing">Imperativos</h2>
                </div>
            </div>
            <div class="menu">
                <nav>
                    <a class="notificaciones" href="#"><i class="fas fa-bell"></i></a>
                    <a class="perfil" href="#"><i class="fas fa-user-circle"></i></a>
                </nav>

            </div>

        </div>

    </header>


    <div class="contenedor-boton">

        <div class="boton">
            <a href="#">Plan estratégico <i class="far fa-calendar-alt"></i></a>
            <div class="posicionado">
                <a href="#"></a>
            </div>
        </div>
    </div>
    <section class="main">
        <div class="contenedor-tabla">
            <div class="tabla">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>DESCRIPCIÓN</th>
                        <th>LIDER</th>
                        <th>OBJETIVOS</th>
                        <th>VER MÁS</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>
                            <div class="botonListar">
                                <a href="plan-estrategico.html">Listar</a>
                            </div>
                        </td>

                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <!-- <footer>
        <div class="contenedor">
            <div class="contenedor-imagen">
                <div class="imagen">
                    <img src="imagenes/logo.png" alt="Escudo Universidad de La Sabana" class="logo" width="200px">
                </div>
            </div>
        </div>
    </footer> -->
</body>

</html>