<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/prueba1.css">
  </head>
  <body>
    <div class="fondo">
      <form action="/login" method="POST">
        <div class="posiciónTítulo">
          <h1 class="título">Unisabana Planing Board</h1>
        </div>
        <div class="posiciónCorreo">
          <input class="campo" type="email" name="email" value="{{ request.form.email }}"
          placeholder="Ingresa tu email" required>
        </div>
        <div class="posiciónContraseña">
          <input class="campo" type="password" name="contraseña" value="{{ request.form.contraseña }}"
          placeholder="Ingresa tu contraseña" required>
        </div>
        <div class="posiciónBotón">
          <input class="botón" type="submit" name="botón"
          value="Iniciar sesión">
        </div>
        <!-- <div class="posiciónBotón"><a class="botón" href="#">Iniciar sesión</a></div> -->
        <div class="posiciónImágen">
          <img src="/static/images/logo.png">
        </div>
      </form>
    </div>
  </body>
</html>
