<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar imperativo</title>
    <script src="https://kit.fontawesome.com/4e4e7f8918.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="contenedor">
        <div class="contenedor-titulo">
            <div class="titulo">
                <h1>Editar imperativo</h1>
            </div>
        </div>
        <form action="plan-estratégico.html" method="POST">
            <div class="contenedor-campos">
                <div class="campos">

                    {% for result in data %}
                    <select id="opcionLider" required>
                        {% for nombre in nombres %}
                        {% if result.id_usuario == nombre.id %}
                        <option value="{{ nombre.id }}" selected>                         {{ nombre.nombre }}</option>
                        {% endif %}
                        
                        <option value="{{ nombre.id }}">                         {{ nombre.nombre }}</option> 
                        {% endfor %}
                    </select>
                    <br>
                    
                    <input type="text" placeholder="Editar descripción" value = "{{ result.nombre }}" id="campoNombre" required>
                    
                    <p style="color: white;">Editar fecha de inicio</p>
                    <input type="date" value="{{ result.fecha_inicio }}" id="fecha_inicio" required>
                    
                    <p style="color: white;">Editar fecha final</p>
                    <input type="date" value = "{{ result.fecha_fin }}" id="fecha_fin" required>
                    {% endfor %}

                </div>
        </form>
        <div class="contenedor-boton">
            <div class="boton" 
            style="
            display: flex;
            flex-direction: row;
            ">
                <input type="submit" value="Eliminar" id="createImperativo" style="background: red;">
                <input type="submit" value="Editar" id="createImperativo">
            </div>
        </div>
    </div>
    </div>
</body>

</html>