<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar imperativo</title>
    <script src="https://kit.fontawesome.com/4e4e7f8918.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="contenedor">
        <div class="contenedor-titulo">
            <div class="titulo">
                <h1>Editar imperativo</h1>
            </div>
        </div>
        <form action="/planestrategico" method="GET">
            <div class="contenedor-campos">
                <div class="campos">

                    
                    <select id="opcionLider" required>
                        
                        <option disabled selected>                                     Editar Lider</option> 
                        {% for nombre in nombres %}
                        <option value="{{ nombre.id }}">                                            {{ nombre.nombre }}</option> 
                        {% endfor %}
                    </select>
                    <br>
                    {% for result in data %}
                    <input type="hidden" id="id_imperativo" value="{{ result.id_imperativo }}">
                    <input type="text" placeholder="Editar descripción" value = "{{ result.nombre }}" id="campoNombre" required>
                    
                    <p style="color: white;">Editar fecha de inicio</p>
                    <input type="date" value="{{ result.fecha_inicio }}" id="fecha_inicio" required>
                    
                    <p style="color: white;">Editar fecha final</p>
                    <input type="date" value = "{{ result.fecha_fin }}" id="fecha_fin" required>
                    {% endfor %}

                </div>
        </form>
        <div class="contenedor-boton">
            <div class="boton" 
            style="
            display: flex;
            flex-direction: row;
            ">
                <input type="submit" value="Eliminar" id="EliminarImperativo" style="background: red;">
                <input type="submit" value="Editar" id="editarImperativo">
            </div>
        </div>
    </div>
    </div>
</body>
    <!-- JS Files-->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="../static/js/main.js"></script>

</html>