<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar imperativo</title>
    <script src="https://kit.fontawesome.com/4e4e7f8918.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>

<body>
    <header>
        <div class="contenedor-header">
            <div class="contenedor-atras">
                <div class="atras">
                    <a class="Btn_atras" href="{{ url_for('planEstrategico') }}"><i class="fas fa-chevron-left"></i></a>
                </div>
            </div>
            <div class="contenedor-texto">
                <div class="texto">
                    <h2 class="planing">Editar imperativo</h2>
                </div>
            </div>
            <div class="menu">
                <nav>
                    <!-- <a class="notificaciones" href="{{ url_for('notificaciones') }}"><i class="fas fa-bell"></i></a> -->
                    <a class="notificaciones" href="{{ url_for('construccion') }}"><i class="fas fa-bell"></i></a>
                    <a class="perfil" href="{{ url_for('menu') }}"><i class="fas fa-user-circle"></i></a>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor-editor">

        <div class="campos">

            <div class="nombre descripcion">
                <div class="campo-nombre">
                    <h3>ID</h3>
                    <p>1</p>
                </div>
                <div class="editar">
                    <a href="#">Editar</a>
                </div>
            </div>
            <div class="nombre descripcion">
                <div class="campo-nombre">
                    <h3>Líder</h3>
                    <p>Rector Obdulio Velásquez Posada</p>
                </div>
                <div class="editar">
                    <a href="#">Editar</a>
                </div>
            </div>
            <div class="nombre descripcion">
                <div class="campo-nombre">
                    <h3>Descripción</h3>
                    <p>Vivir los principios universitarios en comunidad. </p>
                </div>
                <div class="editar">
                    <a href="#">Editar</a>
                </div>
            </div>
            <div class="nombre grande">
                <div class="botoon eliminar">
                    <a href="#">Eliminar <i class="fas fa-trash"></i></a>
                </div>
                <div class="botoon edit">
                    <a href="{{ url_for('planEstrategico') }}">Aceptar <i class="fas fa-check"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>